{% extends 'base.html' %}
{% block page_title %}{% if object %}{{ object.title }} - edycja{% else %}Dodaj piosenkę{% endif %}{% endblock %}
{% block content %}
    {% if not object %}
    <div id="import" class="ui-state-highlight ui-corner-all">
        <h3>Importuj z <a href="http://bibliotekapiosenki.pl/">bibliotekapiosenki.pl</a></h3>
        <form action="." method="post">
            {% csrf_token %}
            <div>
                <label for="id_src_url">Źródło:</label><input type="text" name="src_url" id="id_src_url">
            </div>
            <div>
                <label for="id_src_version">Wariant:</label><input type="text" name="src_version" id="id_src_version" maxlength="2">
            </div>
            <input type='submit' value='importuj' class='button save'>
        </form>
        <div class="clear"></div>
    </div>
    {% endif %}
    <div class="content-wrapper">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.title.errors }}
                <label for="id_title">Tytuł:</label> {{ form.title }}
            </div>
            <div>
                {{ form.alt_title.errors }}
                <label for="id_alt_title">Podtytuł:</label> {{ form.alt_title }}
            </div>
            <div>
                <span class="section-label">Słowa:</span>
                {{ form.lyrics_author.errors }}{{ form.lyrics_year.errors }}
                <label for="id_lyrics_author">Autor:</label> {{ form.lyrics_author }}
                <label for="id_lyrics_year">Rok:</label> {{ form.lyrics_year }}
            </div>
            <div>
                <span class="section-label">Muzyka:</span>
                {{ form.music_author.errors }}{{ form.music_year.errors }}
                <label for="id_music_author">Autor:</label> {{ form.music_author }}
                <label for="id_music_year">Rok:</label> {{ form.music_year }}
            </div>
            <div>
                {{ form.lyrics.errors }}
                <label for="id_lyrics" class="section-label">Tekst:</label>
                {{ form.lyrics }}
            </div>
            <div>
                {{ form.info.errors }}
                <label for="id_info" class="section-label">O piosence:</label>
                {{ form.info }}
            </div>
            <div>
                {{ form.comment.errors }}
                <label for="id_comment" class="section-label">Komentarz:</label>
                {{ form.comment }}
            </div>
            <input type='submit' value='Zapisz' class='button save'>
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}
