{% extends 'base.html' %}
{% block page_title %}{{ object.title }}{% endblock %}
{% block content %}
    <h4 class="ui-widget-content ui-corner-all page-header">{{ object.alt_title }}</h4>
    <div>
        <a href="{% url update_song pk=object.pk %}" class="button">Edytuj</a>
        <a href="{% url song_latex pk=object.pk %}" class="button">Latex</a>
    </div>
    <div>
        <div class='authors'>
            <table>
                <tr>
                    <th>Słowa:</th>
                    <td>
                        {{ object.lyrics_author|default:'-' }}
                        {% if object.lyrics_year %}({{ object.lyrics_year }}){% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Muzyka:</th>
                    <td>
                        {{ object.music_author|default:'-' }}
                        {% if object.music_year %}({{ object.music_year }}){% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <p class='info'>{{ object.info }}</p>
        {{ object.html_preview|safe }}
        <p class="comment"><span>Komentarz: </span>{{ object.comment }}</p>
    </div>
{% endblock %}