{% extends 'base.html' %}
{% block extra-head %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/list.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}songbook.js"></script>
{% endblock %}

{% block page_title %}{% if object %}Edycja śpiewnika: {{ object.title }}{% else %}Dodaj śpiewnik{% endif %}{% endblock %}
{% block content %}
    <div class="content">
        <form method="post" action="." id="songbook-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.title.errors }}
                <label for="id_title">Tytuł:</label> {{ form.title }}
            </div>
            <div>
                {{ form.author.errors }}
                <label for="id_author">Autor:</label> {{ form.author }}
            </div>
            <div>
                {{ form.date.errors }}
                <label for="id_date">Data:</label> {{ form.date }}
            </div>
            {{ form.song_ids.as_hidden }}
            {{ form.song_ids.errors }}
            <div id="library">
                <h3>Biblioteka:</h3>
                <div class="list-controls">
                    <span class="sort ui-state-default ui-corner-all" data-sort="title">Sortuj</span>
                    <input class="search" data-columns='title'/>
                </div>
                <ul id="library-list" class="list">
                    {% for song in all_songs %}
                        <li class="ui-state-default" data-id='{{ song.pk }}'>
                            <span class="title">{{ song.title }}</span>
                            <a href="{% url song pk=song.pk %}" target="_blank" class="ui-icon ui-icon-info song-details-button"></a>
                        </li>
                    {%endfor%}
                </ul>
            </div>
            <div id="songbook">
                <h3>Śpiewnik:</h3>
                <div class="list-controls"></div>
                <ol id="songbook-list">
                </ol>
            </div>
            <div class="clear"></div>
            <input type='submit' value='Zapisz' class='button save'>
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}