{% extends "admin/change_form.html" %}
{% block extrahead %}{{ block.super }}
{% if change %}
    <script type="text/javascript">
        function addPreview(){
            var root = document.getElementsByClassName('form-row lyrics')[0];
            var previewNode = document.createElement('div');
            var labelNode = document.createElement('label');
            labelNode.appendChild(document.createTextNode('Preview:'));
            previewNode.appendChild(labelNode);
            var textNode = document.createElement('textarea');
            textNode.appendChild(document.createTextNode("{{ original.latex_preview|escape|escapejs }}"));
            textNode.setAttribute('rows', 10);
            textNode.setAttribute('cols', 40);
            textNode.setAttribute('readonly', 'readonly');
            textNode.setAttribute('class', 'vLargeTextField');
            previewNode.appendChild(textNode);
            root.appendChild(previewNode);
        }
        window.onload = addPreview;
    </script>
{% endif %}
{% endblock %}