#menu ul {
    list-style-type: none;
    padding: 0px;
}
#menu li {
    float: left;
    padding: 0px;
}
#menu {
    width: 650px;
}
.clear {
    clear: both;
}

#songbook-list, #library-list {
    margin: 0;
    width: 450px;
    min-height: 100px;
    padding-bottom: 50px;
    overflow-y: scroll;
    height: 400px;
}
#library-list {
    list-style-type: none;
    padding-left: 0px;
}

#songbook-list li, #library-list li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    font-size: 1.4em;
    width: 350px;
    cursor: pointer;
}

.firstwords {
    font-size: 0.7em;
}
#songbook-list li .delete-button {
    float: right;
    position:relative;
    top: -10px;
}

#library, #songbook {
    float: left;
}

.sort {
    cursor: pointer;
}

.chorus p:before {
    content: "Ref.: ";
}

.chorus {
    margin-left: 20px;
}

.authors th {
    text-align: right;
}

.info {
    font-style: italic;
}

.comment span {
    font-weight: bold;
}

.comment {
    padding-top: 50px;
}

#center {
    width: 1000px;
}

#center, #menu {
    margin-left: auto;
    margin-right: auto;
}

.verse-group {
    display: inline-block;
    border-right: 1px solid black;
    padding-right: 30px;
    margin-right: 10px
}
